/**
Theme Name:Htech
Theme URI:
Date:3/4/2014
Author:Bach Ngoc Hong Diep
Author URI:http://
Description:htech
Version:1.0
License:GNU General Public License v2 or later
Text Domain:htech.vn
**/
*{margin:0;padding:0}
h3{line-height: normal}
body{background:url(img/backgroundd.png) repeat-x scroll #CEEDFF;font-family:Arial}
ul{list-style:none}
@font-face{font-family:Sansation-Regular;src:url(fonts/Sansation-Regular.ttf)}
.container{max-width:960px;overflow:hidden;-webkit-box-shadow:1px 0 11px 0 rgba(0,50,50,0.48);-moz-box-shadow:1px 0 11px 0 rgba(0,50,50,0.48);box-shadow:1px 0 11px 0 rgba(0,50,50,0.48)}
.content-area{background:#FFF;overflow:hidden;width: 100%}
.site-content{overflow:hidden;width:100%;margin:0 auto}
.container .navbar h1 img{max-width:70px;float:left;margin-left:16px;margin-bottom:16px}
.container .navbar div.logan{float:left;font-size:24px;text-shadow:-5px 1px 2px #FFF, -15px 3px 8px #FFF, 2px 5px 4px #FFF, 0 -1px #FFF;font-weight:700;margin-left:10%;color:#006dcc;margin-top:1%;width:60%}
.navbar .qtrans_language_chooser{float:right}
.qtrans_language_chooser li{float:left;margin:3px}
.navbar-collapse{width:100%;overflow:hidden;float:left;background:url(img/menu_center.png);height:47px}
#menu-menu-main li ul{width: 216px;background: #2150a3;display:none;float:left;z-index:700;margin-left:-18px;border-radius:4px;margin-top:12px;height:auto}
.news ul li .a-news{width:100px;float:left}
#menu-menu-main li ul li{float: left;overflow: hidden;width: 193px}
#menu-menu-main li:hover ul.sub-menu li{background: #2150a3}
#menu-menu-main li:hover ul{display:block;position:absolute}
#menu-menu-main li:hover ul.sub-menu ul.sub-menu{display: none}
.navbar-collapse #menu-menu-main{float:left;width:70%}
.navbar-collapse ul.menu li.menu-item a{color:#fff;text-decoration:none;font-size: 15px}
.content-area .span3{width:240px;float:right}
.menu li ul li{width: 86%;overflow: hidden}
.navbar-collapse ul#menu-menu-main li.menu-item{float:left;font-weight:700;background:url(img/menu_boo.jpg) right no-repeat;text-transform:uppercase;text-align:left;padding:14px 18px 13px}
#menu-menu-main ul li a:first-letter{text-transform:uppercase}
#menu-menu-main ul li a{text-transform:none;font-size:14px;font-weight:400;}
.navbar-collapse ul#menu-menu-main ul.sub-menu li:hover{overflow: hidden;width: 193.5px;float: left;-moz-box-shadow:inset 0 1px 0 0 #47b9f5;-webkit-box-shadow:inset 0 1px 0 0 #47b9f5;box-shadow:inset 0 1px 0 0 #5991e6;background:0;/* For Safari 5.1 to 6.0 */background:0;/* For Opera 11.1 to 12.0 */background:0;/* For Firefox 3.6 to 15 */background:linear-gradient(#47b9f5,#2150a3);/* Standard syntax */background:linear-gradient(tobottom,#47b9f5 55%,#20499a 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#47b9f5',endColorstr='#2150a3',GradientType=0);text-shadow:0 1px 0 #528ecc;float:left}
#menu-menu-main .sub-menu li.current-menu-item{border: 0px;
    -moz-box-shadow:inset 0 1px 0 0 #47b9f5;-webkit-box-shadow:inset 0 1px 0 0 #47b9f5;box-shadow:inset 0 1px 0 0 #5991e6;background:0;/* For Safari 5.1 to 6.0 */background:0;/* For Opera 11.1 to 12.0 */background:0;/* For Firefox 3.6 to 15 */background:linear-gradient(#47b9f5,#2150a3);/* Standard syntax */background:linear-gradient(tobottom,#47b9f5 55%,#20499a 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#47b9f5',endColorstr='#2150a3',GradientType=0);}
.navbar-collapse ul.menu li.menu-item:hover{background: none repeat scroll 0 0 #EAEFF5;
    box-shadow: 1px 1px 11px 0 #F2F2DF inset;}
.navbar-collapse ul.menu li.menu-item:hover a{color:#f5c36b}
#searchsubmit,.screen-reader-text{display:none}
.navbar-collapse ul .search-field{margin-top:15px;margin-left:5%}
.menu li.current-post-ancestor,.menu .current_page_parent,.navbar-collapse ul .current-menu-parent,.navbar-collapse ul .current_page_item{border:1px solid #f2f2df;background:none;box-shadow:1px 1px 11px 0 #f2f2df inset;}
footer{background:#eee;text-align:center;width:960px;margin:0 auto}
.row{margin:0 auto;}
.container-footer{max-width:99%;overflow:hidden;font-size:13px;text-align:left;padding-top:20px;margin:0 auto}
.container-footer .footer-left{float:left;overflow:hidden;width:837px}
.container-footer .footer-left img{max-width:50px;margin-left:4px;float:left;padding-right:10px}
.container-footer .footer-right{max-width:29%;float:right;overflow:hidden}
.container-footer .footer-left .address{margin-top:31px;float:left;width:305px;}
.container-footer .footer-left .address2{width:423px;float:left;margin-right:30px}
#nav .active{background:red}
.meteor-clip .mslide img.attachment-featured-slide{width:100%;min-height:400px}
.content-area .span8 .round-about-us .img-abus{float:left;max-width:45%;max-height:35%;padding-right:4px}
.content-area .span8 .round-about-us .img-abus img{border:1px solid #e3e3e3;max-width:100%;max-height:100%;padding:2px}
.content-area .span8 .round-about-us{float:left;margin-top:6px;margin-left:4px;text-align:left;letter-spacing:1px;width:685px;border-radius:4px;border:2px solid #5691E6;padding:4px}
.content-area .span8 .round-about-us .content-about{float:left;margin-left:10px;max-width:52%;text-align:left;vertical-align:top}
.a-new{text-transform:uppercase;font-size:11px;font-weight:700}
.show-products{overflow:hidden;border:2px solid #5691e6;width:98%;margin-top:9px;border-radius:4px;margin-left:4px;float:left;padding:4px}
.span8 h3{font-size:20px;color:#214492}
.show-products #mcts1 .item li{width:170px;float:left;text-align:center;height:140px;border:1px solid #e3e3e3}
.show-products #mcts1 .item li img{max-width:100%;height:140px}
#mcts1 span.atl{max-width:171px;position:absolute;background:none repeat scroll 0 0 rgba(0,0,0,0.6);top:0;left:0;right:0;line-height:30px;margin-top:112px;color:#FFF}
.support-videos{width:100%;overflow:hidden;padding-top:60px;margin-bottom:50px}
.font-h2 a{color:#fff}
.support-videos .supports,.videos{width:30%;border:2px solid #A6D1F9;float:left;margin-left:4px}
.support-videos .supports .content-supports{min-height:246px;padding:4px}
.support-videos .videos{width:34%;border:2px solid #d3e9fd;float:right;overflow:hidden;margin-right:4px}
.show-content-page{width:100%;background:#fff;overflow:hidden;margin:0 auto}
.content-site{width:92%;overflow:hidden;margin:0 auto}
.news{margin-right:4px;border:2px solid #5691e6;border-radius:4px;overflow:hidden;min-height:509px;margin-top:6px}
.support-videos .title-supports{background:#d3e9fd}
.support-videos .title-supports h2{padding-left:20px}
.content-videos,.item-supports{height:254px}
h2.font-h2{font-size:17px;font-weight:400;color:#fff;padding-left:18px;background:url(img/menu_center.png);line-height: 40px}
.link{width:90px;margin-bottom:20px}
.news ul li img{height:88px;width:99px}
.news ul li{padding:10px 10px 10px 0}
.search-form .search-field{float:right;margin-right:10px;margin-top:7px;padding-left:15px;padding-right:15px;text-align:left}
.form-contact{padding-left:10%;margin-top:20px}
#form-contact{margin-top:50px}
.form-contact .wpcf7 p .wpcf7-text{width:45%}
.form-contact .wpcf7 p textarea{width:55%;height: 200px}
.wpcf7-submit{background-color:#428BCA;color:#FFF;-moz-user-select:none;background-image:none;border:1px solid rgba(0,0,0,0);border-radius:4px;cursor:pointer;display:inline-block;font-size:14px;font-weight:400;line-height:1.42857;margin-bottom:0;text-align:center;vertical-align:middle;white-space:nowrap;border-color:#357EBD;padding:6px 32px}
.show-content-page .title{width:100px;font-weight:700;background:#B30E0E;color:#fff;height:35px;line-height:35px}
ul.related-post{padding:5px 20px 20px 40px}
.related-post li{list-style:circle;color:#039}
.show-content{width:100%;padding:6px}
.box-title{width:100%;overflow:hidden;float:left;margin-left:10px}
.show-content-page .span3{float:right;margin-right:4px;margin-top:10px}
.panel-heading{border-bottom:1px solid rgba(0,0,0,0);border-top-left-radius:3px;border-top-right-radius:3px;padding:8px 15px}
.panel-title{color:inherit;letter-spacing:1px;font-size:16px;margin-bottom:0;margin-top:0}
.panel-primary{overflow:hidden;margin-bottom:20px;border-color:#428BCA}
.panel-primary > .panel-heading{background-color:#36B3F5;color:#FFF;border-color:#428BCA}
.panel-body{border:1px solid #dbe9f5;overflow:hidden;width:96%;height:auto;padding:4px}
.panel-news{padding:4px}
.panel-news li{margin-top:10px;margin-bottom:10px;float:left}
.infor{margin-bottom:10px}
.panel-news li img{width:95px;float:left;height:70px;padding-right:5px;padding-top:4px;border:1px solid rgba(0,0,0,0)}
.my-recent-posts h5{margin-left:30px;margin-top:30px;border-bottom:1px solid #e3e3e3}
.surports{text-align:left;margin:10px auto 0}
.show-content li.items{width:100%;float:left;overflow:hidden;border-bottom:1px solid #dbe9f5;padding-bottom:14px;margin:10px 10px 10px 0}
.show-content li.items .title-search{margin-bottom:10px;font-size:17px}
.show-content li.items .content img{max-width:20%;height:90px;float:left}
.show-content li.items .content .details{float:left;max-width:74%;overflow:hidden;margin-left:10px}
.categorys{float:left;width:100%;height:auto;overflow:hidden}
.categorys .category{margin-left:10px}
.categorys .category li.item-cate{float:left;height:150px;margin-bottom:20px;margin-right:10px;overflow:hidden;text-align:center;width:160px}
.categorys .category li.item-cate img{height:90px;max-width:150px;border:1px solid #D3D3D3;padding:4px}
.category li.item-cate .title-cate{padding-top:3px}
.show-content .content{max-width:100%}
.container-footer .footer-left .address p{width:100%;padding-left:15px;text-align:left}
a,.surports a:hover{text-decoration:none}
.navbar-collapse ul#menu-menu-main ul li.menu-item:hover a,.navbar-collapse ul#menu-menu-main ul  li.current-menu-item a{color:#fff}
.content-area .span8,.panel-news li .content-news{float:left}
.content-videos,.item-supports p,.content-videos .item-supports iframe{height:100%;width:100%}
.categories{overflow: hidden;float: left;width: 99.5%;background: #fff;margin-left: 3px}
.categories-page{overflow: hidden;width: 100%;background: #fff}
.categories-page .item-categories,.categories-page .item-categories li{float: left}
.categories-page .item-categories li{border:1px solid #CFD1C7;min-height:335px;overflow:hidden;width:261px;margin:18px;padding:10px}
.categories-page .item-categories li img{height:220px;width:100%;border-radius:4px}
.categories-page .item-categories li .clearfix{border-top:1px solid #cfd1c7;padding-top:10px}
#menu-menu-main li ul.sub-menu li:hover ul.sub-menu{display:block;position:absolute;z-index:999;margin-top:-31px;left:-74px;margin-left:300px}
#menu-menu-main li:hover ul.sub-menu u.sub-menu{display: block;z-index: 9999;overflow: hidden;position: absolute;}
.group h2{padding: 14px 0;font-family: Sansation-Regular;font-weight: normal}
.details-cate-products{overflow: hidden;width: 100%;background: #fff}
.support-videos .facebook-share{float:left;overflow:hidden;width:30%;border:2px solid #A6D1F9;margin-left:19px;min-height:254px;}
.facebook-share .juiz_sps_links{padding:4px;}
.details-cate-products .details{float:left;width:39%;margin-left:36px;text-align:justify;}
.details-cate-products .content{float:left;overflow:hidden;text-align:justify;width:88%;padding:20px 30px 20px 47px;}
.details-cate-products .wrappers{width:100%;overflow:hidden;padding:40px 10px 0;}.h4,.h3{color:#36B3F5;}
.wrapper-slide .thumbgallery li{float:left;margin:4px;}
.wrapper-slide .thumbgallery li img{width:100px;height:60px;}
.wrapper-slide{float:left;width:515px;text-align:center;}
#main-image img.main{height:300px;}
.h2{font-size:18px;}.item-categories{float:left;overflow:hidden;width:100%;}.title-page{font-size:18px;padding:20px;}