/*
Theme Name: VIMEETING
Theme URI:
Date: 12/2013
Author: Bach Ngoc Hong Diep
Author URI: http://
Description: vimeeting
Version: 1.0
License: GNU General Public License v2 or later
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: vimeeting.vn

*/
@font-face{
    font-family:VNF-StagSans-Thin;
    src: url('fonts/VNF-StagSans-Thin.ttf');
}
*{
    padding: 0;
    margin: 0;
}
body{
/*background: #373737;*/
    font-family: Tahoma, "Times New Roman", Times, serif;
    font-size: 12px;
}
header{
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ffffff;

}
header .navbar{
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;
}
header .navbar .logo{
    width: 212px;
    float: left;
}
header .navbar .main-navigation{
    float: left;
}
.logo{
    background: url("images/logo.jpg") no-repeat;
    height: 53px;
    width: 212px;
}
.hr{
    height: 20px;
    width: 100%;
}
.index-page{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;

}
.header-page{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.show-content{
    width: 1000px;
    margin: 0 auto;
}
.show-content-page{
    padding-top: 24px; overflow: auto;
    background: #ffffff;
    margin: 0 auto;
    width: 1000px;
}
.show-menu2 h4{font-weight: bold;font-size: 14px;font-family: Tahoma, "Times New Roman", Times, serif; }
/*****************/
.wrapper-main-page{
    width: 100%;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
}
.wrapper-content-page{
    margin: 0 auto;
    width: 1000px;
}
.main-navigation {
    /*clear: both;*/
    margin: 0 auto;    /*max-width: 1080px;*/

    /*position: relative;*/

    font-family:VNF-StagSans-Thin,Arial;
}
/********menu********/
ul.nav-menu, div.nav-menu > ul{
    margin: 0;
    padding: 0 40px 0 0;
}
.nav ul, nav ol {
    list-style: none outside none;
}
.nav-menu .menu-item{
    display: inline-block;
    /*position: relative;*/
    float: left;

}
.nav-menu .menu-item ul{
    display: none;float: left;
}
.nav-menu li ul .menu-item{
    float: left;
}
.nav-menu li ul {
    width: 150px;
    z-index: 50;
}
.nav-menu li:hover ul{
    display: block;
    position: absolute;
    float: left;
    background: #FFF601;
}
.nav-menu li:hover ul .menu-item{
    float: left;
    left: 0px;

}
.nav-menu .menu-item ul .menu-item{
    width: 100%;
    display: block;

}


.nav-menu .menu-item a {
    color: #141412;
    display: block;
    font-size: 15px;
    line-height: 1;
    padding-top: 18px;
    padding-left: 12px;
    padding-right: 13px;
    padding-bottom: 20px;
    /*padding: 18px 26px;*/
    text-decoration: none;
    text-transform: uppercase;
}.navigation a {
     color: #BC360A;
 }
.nav-menu li:hover > a, .nav-menu .menu-item a:hover {
    /*border-bottom: 2px solid #262575;*/
    color: #262575;
    background: #ffdf01;
    /*#fbf41a*/
}
.nav-menu .menu-item ul li:hover{
    background: red;
}
.navigation a:hover {
    color: #EA9629;
    text-decoration: none;
}
.navigation a {
    color: #BC360A;
}
a:hover {
    text-decoration: underline;
}
a:active, a:hover {
    color: #EA9629;
    outline: 0 none;
}
.nav-menu .current_page_item > a, .nav-menu .current_page_ancestor > a, .nav-menu .current-menu-item > a, .nav-menu .current-menu-ancestor > a {
background: #fdf74e;

    border-bottom: 2px solid #262575;
}
/***********choose languages***********/
.choose-language{
   text-align: right;
    float: right;
    width: 50px;
    margin: 0 auto;
    position: absolute;
    right: 0px;
}
.choose-language .qtrans_language_chooser{
    float: left;
    text-align: left;
}

.qtrans_language_chooser li{
    list-style: none;
    float: left;
    padding: 3px;
}
/*******footer******/
.footer-page{
   margin: 0 auto;
   overflow: hidden;
    height: auto;
    padding-bottom: 80px;
}
.site-footer{
    width: 1000px;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
    padding-top: 35px;

}
/*****form search*******/
.searchform{
    float: left;
    margin-left: 670px;
}
.logo-img{
    border: 1px solid #FF0000;
    box-shadow: none !important;
    margin: 12px 5px 5px 5px;
    padding: 6px;
}
#logo-slider{
    background: none repeat scroll 0 0 #FFFFFF;
    height: 90px;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 900px;
}
#logo-slider-wraper { width: 1000px;margin: 0 auto;}
/************menu footer***********/
.menu2,.menu2 .menu-menu2-container{
    width: 400px;
}
#menu-menu2{
    width: 400px;
    float: left;
    list-style: none;
}
#menu-menu2 li{
    float: left;
    margin: 4px 0 2px;
    padding: 1px 3px 0 0;
    width: 120px;
    font-family: Tahoma, "Times New Roman", Times, serif;
    font-size: 12px;
    color: #898989;
}
#menu-menu2 li a{
    text-decoration: none;color: #898989;
}
.address-company{
    width: 320px;
    float: left;
    height: auto;

}
.logo-footer{
    background: url("images/Gioithieu.jpg")no-repeat;
    width: 292px;
    height: 49px;
}
.address ul li{
    list-style: none;
    margin-bottom: 4px;
    font-size: 12px ;
    font-family: Tahoma, "Times New Roman", Times, serif;color: #898989;
}
.address ul li img{
    padding-left: 15px;
    padding-right: 5px;
}
.plus-social{
   width: 260px;
    overflow: hidden;
    height: auto;
    padding-top: 35px;
}
.menu2{
    float: left;
}
.menu2 h4{
    color: #898989;

}
.show-menu2{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 30px;
    float: left;
    text-align: left;
    font-family: VNF-StagSans-Thin,Tahoma;
}
.home-page-18{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    height: auto;
}
.slide-shows{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}
.table-1{
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 20px;
}
.table-2,.table-3{
    padding-top:20px;
}
.table-2 tr td,.table-3 tr td,.table-4 tr td{
    vertical-align: text-top;
    text-align: left;
}
.table-4{
    background: #f6f6f6;
}
.Ulitity{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.row-ulitity{
    margin: 0 auto;
    width: 1000px;
    height: auto;
    overflow: hidden;

}
.row-ul-ulitily{
    height: auto;
    width: 1000px;
    overflow: hidden;
    float: left;
}
.row-ulitity .col-ulility{
    width: 320px;
    height: auto;
    float: left;
    margin: 3px;
    min-height: 130px;
    list-style: none;
}
.img-thumbnails-ulility{
    height: 100%;
    width: 69px;
    float: left;
}
    .clss-ulitily{
    height: 50px;
        padding-top: 20px;
    text-align: left;
    font-size: 30px;
    font-family: VNF-StagSans-Thin, "Times New Roman", Times, serif;
}
.show-details-ulitily{
    padding-top:10px;
}
.round-content-product{
    width: 100%;
    overflow: hidden;
    height: auto;
    min-height: 200px;
    margin:0 auto;
    background: #f6f6f6;
}
.inround-content-pro{
    height: auto;
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;

}
.col-pro-home{

    float: left;
    width: 230px;
    margin: 9px;
    min-height: 450px;
}
.title-pro-home{
    text-align: center;
    padding: 18px;
    font-size: 15px;
    border-bottom: 1px solid #d5d5d5;
    margin: 0 auto;
min-height: 40px;
    font-family: Tahoma, "Times New Roman", Times, serif;
    color: #7b7b7b;

}
.show-short-content-home p{
    word-spacing: 1px;
    padding: 2px;
    font-weight: normal;
    text-transform: lowercase;
}
.show-short-content-home{
    text-transform: lowercase;
}

.show-short-content-home p a,.show-short-content-home p strong{
    font-weight: normal;

}
.show-short-content-home:first-letter{
    text-transform: uppercase;
}
p:first-letter {
    text-transform: uppercase;/*--Chu cai dau tien viet hoa */
}
.title-pro-home a{
    text-decoration: none;
}
.img-pro-home{
    text-align: center;
    padding: 20px 0px 30px 0px;
}
.img-pro-home .img{
    width: 270px;
    height: 200px;
    border: 0px;
}
.show-short-content-home{
    padding-bottom: 30px;
    text-align: center;
    width: 230px;
    margin: 0 auto;
    color: #7b7b7b;
    font-weight: normal;
    line-height: 20px;font-size: 13px;
    min-height: 77px;
}
.a-view-detail{
margin: 0 auto;
 padding: 10px 0px 20px 0px;
    text-align: center;
    font-weight: normal;
}
.a-view-detail a{
    text-decoration: none;
    color: #006699;
}
.a-view-detail a:hover{
    color: #ff8500;
    text-decoration: none;
}
.content-ulility{
font-weight: normal;
    float: left;
    height: auto;
    text-align: left;
    width: 240px;
    line-height: 19px;

}
.show-slide-product{
    width: 100%;
    margin: 0 auto;
    height: auto;
}
.show-slide-img-product{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    border-bottom:1px solid #d5d5d5;
    border-top:1px solid #d5d5d5;
}
.show-slide-img-product .slide-top-pro{
    float: left;
    margin: 23px;
}
.slide-top-pro img{
    width: 150px;
    height: 100px;
}
.giaiphap tr td{

    padding: 7px;
}
.giaiphap{
    font-size: 14px;
    width: 450px;
    border: 0px;
}
.td-1{
    font-family: VNF-StagSans-Thin,Tahoma, "Times New Roman", Times, serif;
    font-size: 28px;
}
.td-2{
    background: #fff601;height: 40px;
    padding: 8px;
}
.td-3{
    background: #fff601;height: 40px;
}
.td-4{
    height: auto;
   min-height: 300px;
    padding: 8px;
    color: #464d52;
    vertical-align: top;
    font-family: Tahoma, "Times New Roman", Times, serif;
}
.td-4 ol li{
    list-style: none;
}
.round-form-contact7{
    width: 100%;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
    float: left;
}
.show-form-contact{
    width: 1000px;
    margin: 0 auto;
 height: auto;
    overflow: hidden;
}

.form-contact{
    float: left;
    width: 100%;
}
.wpcf7-form-control{
    padding: 5px;
}
.wpcf7-form{
    padding: 5px;
}
.wpcf7-form p{
    padding: 7px;
}
.address-contact{
    width: 100%;
    float: left;
}
.round-menu{
    width: 100%;
    height: 53px;
    margin: 0 auto;
    background: #fff601;
}
.leftp{
    width: 500px;
    float: left;
}
.rightp{
    width: 450px;
    float: left;
}
.wpcf7-form p .wpcf7-form-control-wrap input{
    padding: 13px;
    margin-top: 7px;
    border-radius:8px;
    border: 4px solid #d5d5d5;
    width: 420px;
    color: #808080;
    font-size: 14px;
    font-family: Tahoma, "Times New Roman", Times, serif;
}

.wpcf7-form p{
    color: #888888;
    font-family: Tahoma, "Times New Roman", Times, serif;
    font-size: 14px;
}
.wpcf7-form p .wpcf7-form-control-wrap textarea{
    padding: 13px;
    margin-top: 7px;
    border-radius:8px;
    border: 4px solid #d5d5d5;
    width: 420px;
    height: 204px;
}
.wpcf7-form .btnsubmit input{
    background: url("images/btn.jpg") no-repeat center;
    width:144px;
    height: 49px;
    color: #000000;
    border: 0px;
    font-family: Tahoma, "Times New Roman", Times, serif;
    font-weight: bold;
    color: #808080;
    float: right;
    margin-right: -34px;
    cursor: pointer;
}
.div.wpcf7-validation-errors{
    border: 0px;
}
.wpcf7-form input[type="text"],input[type="email"]{
color: #808080;
    font-size: 14px;font-family: Tahoma, "Times New Roman", Times, serif;
}
textarea{
    color: #808080;
    font-size: 14px;
    font-family: Tahoma, "Times New Roman", Times, serif;
}
.show-product-all{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin:0 auto;

}
.show-content-product{
    margin:0 auto;
}
.round-img-common{
    float: left;
    height: auto;
    overflow: hidden;
    vertical-align: middle;
}
.img-common{
    background: url("images/sanpham.png") no-repeat center;
    height: 383px;
    width: 380px;
    margin-left: 415px;
    margin-top: -610px;
    position: absolute;
}

.title-pro{
    padding-top: 10px;
    width: 100%;
    font-family: Tahoma, "Times New Roman", Times, serif;
    font-size: 14px;
    color: #888888;
    text-align: center;
}
.show-content-product .left-pro {
    width: 1300px;
    margin-left: 40px;
    overflow: hidden;
}
.img-thumb-pro{
    text-align: center;
}
.show-content-product .left-pro li{
    float: left;
    width: 220px;
    list-style: none;
    width: 220px;
    margin: 60px 240px 130px 150px;
    padding-bottom:20px;

}
.common{
    height: auto;
    overflow: hidden;
    width: 100%;
}
.img-common .detail-common{
    color: #FFFFFF;
    font-family: VNF-StagSans-Thin;
    font-size: 22px;
    margin-left: 55px;
    margin-top: 90px;
    position: absolute;
    text-align: justify;
    width: 270px;
}
.img-thumb-pro img:hover{
    opacity: 1;
    margin-left: -4px;
}
.img-common:hover{
    background: #13e3e5;
    border-radius:80px ;
}
.hrr{
    height: 1px;
    border-bottom: 1px solid #d5d5d5;
    margin: 0 auto;
    width: 1000px;
}
.tbl-dutoan{
    border: 1px solid #d5d5d5;
    padding: 5px;
}
.wpcf7-response-output{
    color: red;
}
.social-icon{
    color: red;
    margin-top: 90px;
    border: 1px solid;
}
.show-slide-img-product img{
    width: 100px;
    height: 60px;
}
.show-slide-img-product .item{
    padding: 10px;
    /*border: 1px solid red;*/
    margin: 10px;
}
.dungthu{
    width: 1000px;
    margin: 0 auto;
}
.showdungthu{
    padding: 10px;
}
.caidat{
    width: 1000px;
    margin: 0 auto;
    min-height: 300px;

}
.caidat .showcaidat{
    padding-top: 20px;
    padding-bottom: 40px;
}
.form-allowed-tags,.comment-notes{
    display: none;
}
.form-comment-setting{
    padding-top:20px ;
    margin: 10px;
    float: left;
    text-align: left;
}
.form-comment-setting .comment-form {
    padding: 10px;
}
.form-comment-setting label, .form-comm label{
    width: 100px;
   text-align: left;
    float: left;
}
.form-comment-setting p, .form-comm p{
    padding: 5px;
}
.form-comment-setting p input ,.form-comm p input{
    padding: 8px;
}
.comment-form-url{
    display: none;
}
.phanhoi .show-comment{
    padding-bottom: 10px;
    overflow: hidden;
    height: auto;
    background: #f6f6f6;
    margin-bottom: 6px;
}
.phanhoi .show-comment p{
    float: left;
}
.phanhoi .show-comment .profile-comm{
    float: left;
    text-align: left;
    width: 100%;
    padding: 4px;
}
.phanhoi .show-comment p .avatar{
    height: 40px;
    width: 60px;
    float: left;
}
.phanhoi .show-comment p .con-cmm{
    width: 500px;
    font-family: Tahoma, "Times New Roman", Times, serif;
    float: left;
    height: auto;
    padding: 10px;
}
.comment-form #author,.comment-form #email{
    width: 400px;
}
 #comment{
    width: 500px;
}
 .cauhinh{
     margin: 0 auto;
     width: 1000px;
 }
 .show-cauhinh{
     padding-bottom: 20px;
     padding-top: 30px;
 }
 .share-social{
     float: left;

     width: 300px;
     text-align: left;
 }
.quickshare-container{
    border-top:none;
    border-bottom:none;
}
.quickshare-share{
    font-family: Tangerine;
    font-size: 30px;
    /*text-shadow: 4px 4px 4px #aaa;*/
    color: #008000;
}
.content{
    font-family: Tahoma, "Times New Roman", Times, serif;
    font-size: 13px;
    padding-bottom: 20px;
}
.box-title .title-new{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: VNF-StagSans-Thin,Tahoma, "Times New Roman", Times, serif;
    font-size: 20px;
}
.box-title .infor{
    padding-bottom: 10px;
    font-size: 12px;
}
.hrrr{
    border-bottom: 1px solid #d5d5d5;
    width: 1000px;
    margin: 0 auto;
}
.box-title h3{
    font-family: Tahoma, "Times New Roman", Times, serif;
    font-weight: normal;
    color: #323232;
    padding-bottom: 10px;
    padding-top: 10px;
}
.my-recent-posts ul li{
    padding: 3px;
    color: #008800;
}
.my-recent-posts ul li a{
    text-decoration: none;
    color: #008800;
}
.my-recent-posts ul li a:hover{
    color: #006505;
}
.my-recent-posts ul{
    margin-left: 30px;
}
.a-download .dow{
    display: none;

}
.a-download ul li{
padding-left: 5px;
    width: 100%;
}
.dowload .a-download:hover ul{
     float: left;
   padding: 4px;
    display: block;
    position: absolute;
    border-radius: 4px;
    width: 150px;
    border: 1px solid #ffdf01;
    background: #FFFFFF;
    color: #000000;
    list-style: none;
    height: 40px;
}
.show-sanpham{
    width: 1000px;
    height: auto;
    margin: 0 auto;
}
.post-content div{
    text-align: left;
}
.my-recent-posts .ul{
    float: left;
    list-style: none;
}
.sp-title a{
    text-decoration: none;

}
.sp-other{
    padding-top: 40px;
    color: #0000ff;
    font-weight: bold;
    border-bottom: 1px solid #d5d5d5;
    width: 150px;
}
.sp-title{
    padding-top: 5px;
    padding-bottom: 5px;
}
.my-recent-postss .ul .round-li{
    width: 230px;
    float: left;

    overflow: hidden;
    text-align: center;
    margin: 3px;
}

.post-tiel{
    color:#FF6600;
    font-weight: bold;
    font-size: 18px;
    font-family: VNF-StagSans-Thin,Tahoma, "Times New Roman", Times, serif;
}
.hr-round{
    margin: 0 auto;
    text-align: left;
    width: 1000px;
}

.relative-post{
  border-bottom: 1px solid #d5d5d5;
    margin: 0 auto;
    width: 1000px;
    overflow: hidden;
    padding-bottom: 40px;
}