/* http://www.menucool.com */

/*slider frame*/
#sliderFrame
{
width: 500px;float: left;

    margin:20px; /*this makes the image slider center-aligned. Remove this line if you want to align the whole slider to the left side*/

    border-radius:6px;overflow: hidden;
}
#slider img { width: 600px; height: 300px;
    position:absolute;
    border:none;
    visibility:hidden;overflow: hidden;
}

#slider {
    width: 500px; height: 300px;
	background: url("../img/loading.gif") no-repeat;
	position:relative;overflow: hidden;
    margin: 0 auto;
	margin:0 auto;/*make the image slider center-aligned */
}


/* the link style (if an image is wrapped in a link) */
#slider a.imgLink {
	z-index:2;
	display:none;position:absolute;
	top:0px;left:0px;border:0;padding:0;margin:0;
	width:100%;height:100%;
}

/* Caption styles */
div.mc-caption-bg, div.mc-caption-bg2 {
	position:absolute;
	padding:10px;
	left: 100px; /*if the caption needs to be aligned from right, specify by right instead of left. i.e. right:20px;*/
	bottom: -40px;/*if the caption needs to be aligned from top, specify by top instead of bottom. i.e. top:150px;*/
	z-index:3;
	overflow:hidden;
	font-size:0;
}
div.mc-caption-bg {
	background:transparent; /*Caption background color. Can be set to "background:transparent;", or set to semi-transparent through the sliderOptions.captionOpacity setting in the javascript.*/
}
div.mc-caption {
	font:bold 13px/16px Arial;
	color:#ccc;
	z-index:4;
	text-align:center;
}
div.mc-caption a {
	color:#66FFFF;
}


/* ------ built-in navigation bullets wrapper that is relative to the #slider ------*/
div.navBulletsWrapper  {
	display:none;
}


/*thumbnails*/
#thumbs
{
    margin-top:20px;
    text-align:center;
    font-size:0;
}
#thumbs .thumb
{
    display:inline-block;
    *display:inline;zoom:1;/*IE6, IE7 hack*/
    margin:0 1px;/*this determins the distance between each thumbnail*/

    padding:4px;

}

#thumbs .thumb img{border:1px solid #555; cursor:pointer; width:70px; height:44px; opacity:0.5;filter:alpha(opacity:50);}
#thumbs .thumb-on img{border:1px solid #999; opacity:1;filter:alpha(opacity:100);}

/* --------- Others ------- */
#slider
{
    overflow: hidden;
	transform: translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
}

