@charset "utf-8";
.product{overflow:hidden;margin-bottom:40px;padding:25px 0 0;}
.product h1{color:#009cdc;text-align:left;margin-bottom:25px;}
.product .navtop{font-size:.8em;text-align:right;}
.grpEvi a{color:#009dcd;}
.grpRes a{color:#f44;}
.grpRes a:hover{color:#c00;}
.grpOth a{color:#36F;}
.grpOth a:hover{color:#21409a;}
.grpGS a{color:#9c0;}
.grpCD a{color:#33b5e5;}
.grpCD a:hover{color:#09c;}
.grpImpDev a{color:#a6c;}
.grpImpDev a:hover{color:#93c;}
.left-nav{max-width:25%;vertical-align:top;display:inline-block;float:left;z-index:2005;-webkit-box-shadow:0 1px 2px #c4c4c4;-moz-box-shadow:0 1px 2px #c4c4c4;-ms-box-shadow:0 1px 2px #c4c4c4;box-shadow:0 1px 2px #c4c4c4;padding:0;}
.left-nav ul{list-style-type:none;border:2px 0 solid #009cdc;font-size:1.1em;color:#555;background:#fff;margin:0;padding:0;}
.left-nav ul li{border-bottom:1px solid rgba(85,85,85,.2);}
.left-nav ul li:first-child{border-top:2px solid rgba(85,85,85,.2);}
.left-nav ul li:last-child{border-bottom:2px solid rgba(85,85,85,.2);}
.left-nav ul li a{display:block;color:#555;transition:color .2s ease 0;text-decoration:none;margin:1px 0;padding:9px;}
.left-nav ul li a:hover{color:#fff;font-weight:400;background:#009cdc;box-shadow:0 1px 2px #c4c4c4;-moz-box-shadow:0 1px 2px #c4c4c4;-webkit-box-shadow:0 1px 2px #c4c4c4;-ms-box-shadow:0 1px 2px #c4c4c4;}
.grpEvi a:hover,.grpGS a:hover{color:#690;}
.grpCon a,.grpUp a{color:#fb3;}
.grpCon a:hover,.grpUp a:hover{color:#f80;}
/* Content */
.product .content { width: calc(100% - 29.2%);vertical-align: top;
    display: inline-block;margin-left: 25px;overflow: visible;margin-bottom: 0;float: right;}
.left-nav{left: 198px; width: 240px;}
.categories .even{border-top: 5px solid #009DCD}
.categories .old{border-top: 5px solid #008000}
.slide-content .flexslider li img{width: 400px;height: 225px;}
.product .group{background:#fff;margin-bottom:25px;box-shadow:-1px 2px 6px #c4c4c4;-moz-box-shadow:-1px 1px 6px #c4c4c4;-webkit-box-shadow:-1px 1px 6px #c4c4c4;-ms-box-shadow:-1px 1px 6px #c4c4c4;padding:0 10px 9px;}
.f-nav{z-index:199;position:fixed;top:0;}
.product .grpleft h3{text-align:left;}
.product .side-content{width:49%;display:inline-block;vertical-align:bottom;}
.product .slide-content{width:49%;display:inline-block;vertical-align:top;}
.product .group ul{list-style-type:none;line-height:25px;font-size:1.2em;margin:0;padding:0;}
.product .grpright h3,.product .grpRight .side-content li{text-align:right;}